---
import Logo from '../icons/Logo.astro'
import MenuIcon from '../icons/Menu.astro'
import SunIcon from '../icons/Sun.astro'
---

<header
  id="landing-header"
  class="p-2 font-modern flex items-center flex-wrap fixed top-0 w-full justify-between z-40"
>
  <div class="flex mr-1">
    <a href="#" class="p-2 text-white/90">
      <Logo />
      {/*&lt;Gary /&gt;*/}
    </a>
  </div>

  <nav class="xl:hidden flex items-center gap-2 tracking-wider text-white/80 text-pretty">
    <a href="#" class="p-2">Inicio</a>
    <a href="#" class="p-2">Experiencia</a>
    <a href="#" class="hidden">Proyectos</a>
    <a href="#" class="hidden">Mis Resúmenes</a>
  </nav>

  <nav class="flex items-center gap-2">
    <a href="#" class="p-2 bg-[#fbd38d] border border-[#fbd38d] rounded-md text-gray-900/85">
      <SunIcon class="size-5" />
    </a>
    <a
      id="menu-btn"
      class="p-2 border border-gray-500/50 rounded-md text-gray-500/85"
      href="#"
    >
      <MenuIcon class="size-5" />
    </a>
  </nav>
</header>
