
<section class="mt-12">
  <h1>Hey, soy garyDav</h1>
  <h2>Desarrollador FullStack | senior Backend</h2>
  <p>+8 años de experiencia, <span>Ingeniero de Sistemas</span> de Sucre - Bolivia </p>
</section>
